<div class="grt-dropdown-box clearfix">
  <span class="label pull-left">
    {{ 'collections.sorting.title' | t }}
  </span>

  <div class="grt-dropdown collection-sortBy no-margin pull-right">

    <a href="#" title="">
      <span class="dropdown-label">{{ 'collections.sorting.featured' | t }}</span><i class="fa fa-angle-down"></i>  
    </a>

    <ul class="grt-dropdown--content module-list">
      <li class="active"><a href="manual">{{ 'collections.sorting.featured' | t }}</a></li>   
      <li><a href="best-selling">{{ 'collections.sorting.best_selling' | t }}</a></li>
      <li><a href="title-ascending">{{ 'collections.sorting.az' | t }}</a></li>
      <li><a href="price-descending">{{ 'collections.sorting.price_descending' | t }}</a></li>
      <li><a href="price-ascending">{{ 'collections.sorting.price_ascending' | t }}</a></li>
      <li><a href="created-ascending">{{ 'collections.sorting.date_ascending' | t }}</a></li>
      <li><a href="created-descending">{{ 'collections.sorting.date_descending' | t }}</a></li>
    </ul>
  </div>
</div>
