{%- assign products_per_row = section.settings.grid -%}
{%- assign rows = section.settings.rows -%}
{%- assign total_products = products_per_row | times: rows -%}

{%- assign layout_1 = section.settings.layout_1 -%}
{%- assign layout_2 = section.settings.layout -%}
{%- assign sidebar = section.settings.show_collection_sidebar -%}
{%- assign sidebar_position = section.settings.collection_sidebar_position -%}

{%- assign img_size = '' -%}

{% if layout_1 == 'fullwidth' %}
{% if sidebar == false or sidebar_position == 'top' %}
{%- assign img_size = 'size-1' -%}
{% else %}
{%- assign img_size = 'size-2' -%}
{% endif %}

{% else %}
{% if sidebar == false or sidebar_position == 'top' %}
{%- assign img_size = 'size-3' -%}
{% else %}
{%- assign img_size = 'size-4' -%}
{% endif %}
{% endif %}

{% case products_per_row %}
{% when '1' %}

{% case img_size %}
{% when 'size-1' %}
{%- assign image_size = '900x' -%}
{% when 'size-2' %}
{%- assign image_size = '800x' -%}
{% when 'size-3' %}
{%- assign image_size = '750x' -%}
{% when 'size-4' %}
{%- assign image_size = '690x' -%}
{% endcase %}


{% assign grid = 'col-md-12 col-sm-12 col-12' %}

{% when '2' %}

{% case img_size %}
{% when 'size-1' %}
{%- assign image_size = '866x' -%}
{% when 'size-2' %}
{%- assign image_size = '642x' -%}
{% when 'size-3' %}
{%- assign image_size = '555x' -%}
{% when 'size-4' %}
{%- assign image_size = '408x' -%}
{% endcase %}


{% assign grid = 'col-md-6 col-sm-6 col-6' %}
{% when '3' %}

{% case img_size %}
{% when 'size-1' %}
{%- assign image_size = '567x' -%}
{% when 'size-2' %}
{%- assign image_size = '418x' -%}
{% when 'size-3' %}
{%- assign image_size = '359x' -%}
{% when 'size-4' %}
{%- assign image_size = '295x' -%}
{% endcase %}

{% assign grid = 'col-md-4 col-sm-4 col-6' %}
{% when '4' %}

{% case img_size %}
{% when 'size-1' %}
{%- assign image_size = '418x' -%}
{% when 'size-2' %}
{%- assign image_size = '306x' -%}
{% when 'size-3' %}
{%- assign image_size = '290x' -%}
{% when 'size-4' %}
{%- assign image_size = '189x' -%}
{% endcase %}

{% assign grid = 'col-md-3 col-sm-4 col-6 ' %}
{% when '5' %}

{% case img_size %}
{% when 'size-1' %}
{%- assign image_size = '328x' -%}
{% when 'size-2' %}
{%- assign image_size = '310x' -%}
{% when 'size-3' %}
{%- assign image_size = '204x' -%}
{% when 'size-4' %}
{%- assign image_size = '145x' -%}
{% endcase %}

{% assign grid = 'col-lg-2 col-sm-3 col-md-3 col-6' %}
{% endcase %}

{% assign enable_vendor = section.settings.product_vendor %}

{% capture collection_info %}
{% if section.settings.show_collection_image or section.settings.show_collection_des %}
<div class="collection-info">
  {% if section.settings.show_collection_image %}  
  {% if collection.image %}<div class="collection-image"><img src="{{ collection.image | img_url: 'master' }}" alt="{{ collection.title }}"/></div>{% endif %}
  {% endif %}


  {% if collection.description != blank and section.settings.show_collection_des %}
  <div class="rte collection-description">
    {{collection.description}}
  </div>
  {% endif %}
</div>
{% endif %}
{% endcapture %}

<div class="{% if sidebar and sidebar_position == 'left' %}collection-2columns {% endif %}{% if layout_1 == 'fullwidth' %}collection-fullwidth bfw{% else %} container{% endif %}">
  {% if sidebar and sidebar_position == 'left' %}
  <div class="row">
    <div class="col-md-3 col-sm-4 sidebar sidebar-offcanvas collection-sidebar">
      {% include 'collection-sidebar' %}

    </div>
    <div class="sidebar-overlay"  ></div>
    <div class="col-lg-9 col-md-12 collection-main"> 

      {{ collection_info }}
      <a href="javascript:void(0)" class="open-sidebar d-lg-none"><i class="fa fa-bars"></i> {{ 'general.sidebar.text' | t }}</a>
      {% if section.settings.total_product or section.settings.sort_enable %}
      <div class="collection-toolbar clearfix">

        {% if section.settings.total_product %}
        <div class="pull-left ">
          <div class="view-count">
            {{ 'collections.general.items_with_count' | t: count: collection.products_count }}
            {% comment %}
            <span>{{ 'collections.toolbar.item' | t }}</span> 
            {{ paginate.current_offset | plus: 1 }} {{ 'collections.toolbar.to' | t }}
            {% if paginate.next %}
            {{ paginate.current_offset | plus: paginate.page_size }}
            {% else %}
            {{ paginate.items }}
            {% endif %}
            <span>{{ 'collections.toolbar.of' | t }}</span>
            {{ paginate.items }}
            {{ 'collections.toolbar.items' | t }}
            {% endcomment %}
          </div>
        </div>
        {% endif %}

        {% if section.settings.sort_enable %}
        <div class="pull-right ">
          {% include 'collection-sorting' %}
        </div>
        {% endif %}
      </div>
      {% endif %}


      {% paginate collection.products by 12 %}
      <div id="collection-wrap" class="collection-{{ layout_2 }} grid-{{products_per_row}} no-padding">

        <div class="{{ section.settings.pagination_style }} row">
          {% for product in collection.products %}
          <div class="item {{grid}}">                
            {% include 'product-grid-item' %}
          </div>
          {% endfor %}

          {% if paginate.next %}
          <div class="pagination text-center col-md-12 col-sm-12 col-xs-12">
            <a class="btn" href="{{ paginate.next.url }}">{{ 'collections.general.loading_more' | t }}</a>
          </div>
          {% endif %}
        </div>

      </div>
      {% endpaginate %}

    </div>

  </div>
  {% else %}

  {% paginate collection.products by 12 %}
  <div id="collection-wrap" class="collection-grid grid-{{products_per_row}} no-padding">

    <div class="{{ section.settings.pagination_style }} row">
      {% for product in collection.products %}
      <div class="item {{grid}}">                
        {% include 'product-grid-item' %}
      </div>
      {% endfor %}

      {% if paginate.next %}
      <div class="pagination text-center col-md-12 col-sm-12 col-xs-12">
        <a class="btn" href="{{ paginate.next.url }}">{{ 'collections.general.loading_more' | t }}</a>
      </div>
      {% endif %}
    </div>

  </div>
  {% endpaginate %}

  {% endif %}

</div>



{% schema %}
{
"name": "Collection pages",
"settings": [
{
"type":      "radio",
"id":        "layout_1",
"label":     "Page layout",
"options": [
{ "value": "fullwidth", "label": "Fullwidth" },
{ "value": "default", "label": "Default" }
],
"default":   "fullwidth"
},
{
"type": "select",
"id": "layout",
"label": "Collection layout",
"default": "grid",
"options": [
{
"value": "grid",
"label": "Grid"
},
{
"value": "list",
"label": "List"
}
]
},
{
"type": "select",
"id": "grid",
"label": "Products per row (grid only)",
"default": "4",
"options": [
{
"value": "1",
"label": "1"
},
{
"value": "2",
"label": "2"
},
{
"value": "3",
"label": "3"
},
{
"value": "4",
"label": "4"
},
{
"value": "5",
"label": "5"
}
]
},
{
"type": "select",
"id": "rows",
"label": "Rows per page (grid only)",
"default": "6",
"options": [
{
"value": "3",
"label": "3"
},
{
"value": "4",
"label": "4"
},
{
"value": "5",
"label": "5"
},
{
"value": "6",
"label": "6"
},
{ 
"value": "7",
"label": "7"
},
{
"value": "8",
"label": "8"
},
{
"value": "9",
"label": "9"
},
{
"value": "10",
"label": "10"
},
{
"value": "11",
"label": "11"
},
{
"value": "12",
"label": "12"
},
{
"value": "13",
"label": "13"
},
{
"value": "14",
"label": "14"
},
{
"value": "15",
"label": "15"
}
]
},
{
"type": "checkbox",
"id": "show_collection_sidebar",
"label": "Show collection sidebar",
"default": true
},
{
"type":      "radio",
"id":        "collection_sidebar_position",
"label":     "Collection sidebar collection",
"options": [
{ "value": "left", "label": "Left" }
],
"default":   "left"
},
{
"type": "checkbox",
"id": "show_collection_image",
"label": "Show collection image",
"default": true
},
{
"type": "checkbox",
"id": "show_collection_des",
"label": "Show collection description",
"default": true
},
{
"type": "checkbox",
"id": "sort_enable",
"label": "Enable sorting",
"default": true
},
{
"type": "checkbox",
"id": "total_product",
"label": "Enable total product",
"default": true
},
{
"type": "checkbox",
"id": "product_vendor",
"label": "Show product vendor",
"default": true
},
{
"type": "header",
"content": "Pagination"
},
{
"type":      "radio",
"id":        "pagination_style",
"label":     "Pagination style",
"options": [
  { "value": "default", "label": "Default" },
  { "value": "EndlessScroll", "label": "Scroll" },
  { "value": "EndlessClick", "label": "Click" }
],
"default":   "EndlessClick"
}

]
}
{% endschema %}
