{% assign limit = section.settings.prt_limit %}
{% assign item = section.settings.prt_item %}
{% assign citem = section.settings.prt_citem %}
{% assign item980 = section.settings.prt_item_980 %}
{% assign item768 = section.settings.prt_item_768 %}
{% assign item480 = section.settings.prt_item_480 %}
{% assign title = section.settings.prt_title %}
{% assign subtitle = section.settings.prt_subtitle %}

{% capture image_size %}{{ section.settings.prt_pImg_width }}x{% endcapture %} 

{% assign row = section.settings.prt_citem %}

<div class="widget-newletter {% if section.settings.s1 %}d-xl-block{% else %}d-xl-none{% endif %} {% if section.settings.s2 %}d-md-block{% else %}d-md-none{% endif %} {% if section.settings.s3 %}d-block{% else %}d-none{% endif %}">  
  <div class="{% if section.settings.fw %}fw{% else %}container{% endif %}"> 
    <div class="widget-connect-2 text-center" style="background-color:{{ section.settings.bg_color }};">
    {% if section.settings.newsletter_title != blank %}
    <div class="widget-title">
      <h3>{{ section.settings.newsletter_title }}</h3>
    </div>
    {% endif %}
    <div class="widget-content">  
      <p>{{ section.settings.newsletter_subtitle }}</p>
      {% if settings.newsletter_form_action != blank %}
      {% assign form_action = settings.newsletter_form_action %}
      {% else %}
      {% assign form_action = '#' %}
      {% endif %}

      <form target="_blank" class="input-group" name="mc-embedded-subscribe-form" id="mc-embedded-subscribe-form" method="post" action="{{ form_action }}">

        <input class="input-group-field" type="email" value="{% if customer %}{{ customer.email }}{% endif %}" placeholder="{{ 'general.newsletter_form.newsletter_email' | t }}" name="EMAIL" id="mail" aria-label="{{ 'general.newsletter_form.newsletter_email' | t }}" >
        <div class="input-group-btn">
          <button type="submit" value="Subscribe" id="subscribe" name="subscribe" class="btn btn-primary" >
            Subscribe
          </button>
        </div>
      </form>

      <div class="subscribe-success">
        {{'general.newsletter_form.success_message' | t}}
      </div>

      <div class="subscribe-result">
      </div>
    </div>
  </div>
  </div>
</div>

{% schema %}
{
"name": "GRT - Newletter",
"settings": [
{
"type": "checkbox",
"id": "fw",
"label": "Full width"
},
{
"type": "checkbox",
"id": "s1",
"label": "Show on Desktop",
"default": true
},
{
"type": "checkbox",
"id": "s2",
"label": "Show on Tablet",
"default": true
},
{
"type": "checkbox",
"id": "s3",
"label": "Show on Mobile",
"default": true
},
{
"type": "color",
"id": "bg_color",
"label": "Widget Background Color",
"default": "#f7f7f7"
},
{
"type": "text",
"id": "newsletter_form_action",
"label": "MailChimp Form Action URL",
"info": "[Where do I find my MailChimp form action URL?](http:\/\/docs.shopify.com\/support\/configuration\/store-customization\/where-do-i-get-my-mailchimp-form-action)"
},
{
"type": "text",
"id": "newsletter_title",
"label": "Title",
"default": "Sign Up Newsletter"
},
{
"type": "text",
"id": "newsletter_subtitle",
"label": "SubTitle",
"default": "Sign me up for Newsletter, featuring exclusive offers, latest product info, news about upcoming events, and more."

}

],
"presets": [
{
"name": "GRT - Newletter",
"category": "Newletter"
}
]
}
{% endschema %}

{% stylesheet %}

{% endstylesheet %}

{% javascript %}
{% endjavascript %}
