
<div class="row">
  <div class="col-md-6">
    <h1 class="page-title">We Are Usually Asked About</h1>
    <div class="form-ask">
      <ul class="rte ask-accordion">
        {% for block in section.blocks %}
        {% case block.type %}
        {% when 'faq' %}  
        <li class="ask-accordion-group">
          <div class="accordion-heading"><i class="fa fa-question-circle"></i> <span>{{ block.settings.question }}</span><i class="fa fa-chevron-circle-down"></i></div>
          <div class="ask-accordion-inner ">
            <p>{{ block.settings.answer }}</p>
          </div>
        </li>
        {% endcase %}
        {% endfor %}           
      </ul>
    </div>
  </div>
  <div class="col-md-6">
    <h1 class="page-title">Didn't Find the Answer?</h1>
    <div class="contact-form">

      <div class="form-vertical">
        {% form 'contact' %}

        {% if form.posted_successfully? %}
        <p class="note form-success">
          {{ 'contact.form.post_success' | t }}
        </p>
        {% endif %}
        {{ form.errors | default_errors }}
        <div class="row">
          <div class="col-md-6">
            {% assign name_attr = 'contact.form.name' | t | handle %}
            
            <input type="text" id="ContactFormName" name="contact[{{ name_attr }}]" placeholder="{{ 'contact.form.name' | t }}" autocapitalize="words" value="{% if form[name_attr] %}{{ form[name_attr] }}{% elsif customer %}{{ customer.name }}{% endif %}">
          </div>
          <div class="col-md-6">
           
            <input type="email" id="ContactFormEmail" name="contact[email]" placeholder="{{ 'contact.form.email' | t }}" autocorrect="off" autocapitalize="off" value="{% if form.email %}{{ form.email }}{% elsif customer %}{{ customer.email }}{% endif %}">

          </div>
        </div>

        {% assign name_attr = 'contact.form.phone' | t | handle %}
        
        <input type="tel" id="ContactFormPhone" name="contact[{{ name_attr }}]" placeholder="{{ 'contact.form.phone' | t }}" pattern="[0-9\-]*" value="{% if form[name_attr] %}{{ form[name_attr] }}{% elsif customer %}{{ customer.phone }}{% endif %}">

        
        <textarea rows="10" id="ContactFormMessage" name="contact[body]" placeholder="{{ 'contact.form.message' | t }}">{% if form.body %}{{ form.body }}{% endif %}</textarea>

        <br>
        <input type="submit" class="btn btn-primary pull-right" style="margin-top: 20px;" value="{{ 'contact.form.send' | t }}">

        {% endform %}
      </div> 
    </div>
  </div>
</div>
<script>
  $("ul.ask-accordion li").each(function() {
    if($(this).index() > 0) {
      $(".ask-accordion-inner").hide();
      $(".enable+.ask-accordion-inner").show();
      $(".enable+.ask-accordion-inner").addClass("active");
    }
    else {
      $(".enable").addClass('active');
    }
    var ua = navigator.userAgent,
        event = (ua.match(/iPad/i)) ? "touchstart" : "click";
    $(this).children(".accordion-heading").bind(event, function() {

      if($(this).hasClass("active"))
      {
        $(this).removeClass("active");
        $(this).siblings(".ask-accordion-inner").removeClass("active");
        $(this).siblings(".ask-accordion-inner").slideUp(350);
      }
      else
      {
        $(this).addClass("active");
        $(this).siblings(".ask-accordion-inner").addClass("active");
        $(this).siblings(".ask-accordion-inner").slideDown(350);
      }

      $(this).parent().siblings("li").children(".ask-accordion-inner").slideUp(350);
      $(this).parent().siblings("li").find(".active").removeClass("active");
    });
  });
</script>
{% schema %}
{
"name": "FAQ Page",
"max_blocks":16,
"settings": [
{
"type": "header",
"content": "Setting Faq page"
}
]
,
"blocks": [
{
"type": "faq",
"name": "FAQ",
"settings": [
{
"type": "text",
"id": "question",
"label": "Question"
},
{
"type": "html",
"id": "answer",
"label": "Answer",
"default": "<p>Answer HTML content</p>"
}
]
}
]
}
{% endschema %}


