<div class="container page-about">
  <div class="row">
    <div class="col-md-12 welcome-about-us">
      <div class="content-about-us">
        {% if section.settings.about_image != blank %}
        <div class="image-about-us">
          <img class="img-respon" alt="{{ section.settings.about_image.alt | default: shop.name }}" src="{{ section.settings.about_image | img_url: 'master' }}" />
        </div>
        {% else %}
        <div class="image-about-us">
          <img class="img-responsive" alt="{{ shop.name }}" src="//placehold.it/1290x585" />
        </div>
        {% endif %}
        <div class="content-about">

          {% if section.settings.about_title != blank %}
          <div class="title-about-us">
            <h2>{{ section.settings.about_title }}</h2>
          </div>
          {% endif %}
          {% if section.settings.about_text_desc != blank %}
          <div class="des-about-us">
            {{ section.settings.about_text_desc }}
          </div>
          {% endif %}
          
           <div class="socials-wraps "> 
            <ul>
              {% if section.settings.social_facebook_link %}
              <li class="facebook"><a class="_blank" href="{{ section.settings.social_facebook_link }}" target="_blank"><i class="fa fa-facebook"></i></a></li>
              {% endif %}
              {% if section.settings.social_twitter_link %}
              <li class="twitter"><a class="_blank" href="{{ section.settings.social_twitter_link }}" target="_blank"><i class="fa fa-twitter"></i></a></li>
              {% endif %}
              {% if section.settings.social_google_link %}
              <li class="google_plus"><a class="_blank" href="{{ section.settings.social_google_link }}" target="_blank"><i class="fa  fa-google-plus"></i></a></li>
              {% endif %}
              {% if section.settings.social_dribbble_link %}
              <li class="dribbble"><a class="_blank" href="{{ section.settings.social_dribbble_link }}" target="_blank"><i class="fa  fa-dribbble"></i></a></li>
              {% endif %}            
              {% if section.settings.social_instagram_link %}
              <li class="instagram"><a class="_blank" href="{{ section.settings.social_instagram_link }}" target="_blank"><i class="fa  fa-instagram"></i></a></li>
              {% endif %}
              {% if section.settings.social_pinterest_link %}
              <li class="pinterest"><a class="_blank" href="{{ section.settings.social_pinterest_link }}" target="_blank"><i class="fa fa-pinterest"></i></a></li>
              {% endif %}
              {% if section.settings.social_linkedin_link %}
              <li class="linkedin"><a class="_blank" href="{{ section.settings.social_linkedin_link }}" target="_blank"><i class="fa fa-linkedin"></i></a></li>
              {% endif %}            
            </ul>
          </div> 
              
        </div>
      </div>
    </div>
  </div>
  <div class="wpb_wrapper">
  </div>  
</div>
{% if section.settings.show_service != blank %}
<div class="about-service">
  <div class="container">
    <div class="wrap">
      <div class="row">
        <div class="item col-md-4 col-12">
          <div class="item_wrap">
            <div class="icon">
               {% if section.settings.icon_img1 != blank %}
              <div class="image-about-us">
                <img class="img-respon" alt="{{ section.settings.about_image.alt | default: shop.name }}" src="{{ section.settings.icon_img1 | img_url: 'master' }}" />
              </div>
              {% else %}
              <div class="image-about-us">
                <img class="img-responsive" alt="{{ shop.name }}" src="//placehold.it/48x48" />
              </div>
              {% endif %}
            </div>
            <h3>{{ section.settings.sv_title1 }}</h3>
            <div class="des">{{ section.settings.des1 }}</div>
          </div>
        </div>
        <div class="item col-md-4 col-12">
          <div class="item_wrap">
            <div class="icon">
               {% if section.settings.icon_img2 != blank %}
              <div class="image-about-us">
                <img class="img-respon" alt="{{ section.settings.about_image.alt | default: shop.name }}" src="{{ section.settings.icon_img2 | img_url: 'master' }}" />
              </div>
              {% else %}
              <div class="image-about-us">
                <img class="img-responsive" alt="{{ shop.name }}" src="//placehold.it/48x48" />
              </div>
              {% endif %}
            </div>
            <h3>{{ section.settings.sv_title2 }}</h3>
            <div class="des">{{ section.settings.des2 }}</div>
          </div>
        </div>
        <div class="item col-md-4 col-12">
          <div class="item_wrap">
            <div class="icon">
               {% if section.settings.icon_img3 != blank %}
              <div class="image-about-us">
                <img class="img-respon" alt="{{ section.settings.about_image.alt | default: shop.name }}" src="{{ section.settings.icon_img3 | img_url: 'master' }}" />
              </div>
              {% else %}
              <div class="image-about-us">
                <img class="img-responsive" alt="{{ shop.name }}" src="//placehold.it/48x48" />
              </div>
              {% endif %}
            </div>
            <h3>{{ section.settings.sv_title3 }}</h3>
            <div class="des">{{ section.settings.des3 }} </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endif %}
{% if section.settings.show_team != blank %}
<div class="our-member">
  <div class="container">
    <div class="wrap">
      {% if section.settings.member_title != blank %}
      <div class="title-about-us">
        <h2>{{ section.settings.member_title }}</h2>
      </div>
      {% endif %}

      {% if section.settings.our_text_desc != blank %}
      <div class="dshort-des">
        {{ section.settings.our_text_desc }}
      </div>
      {% endif %}
      <div class="row">
        {% for block in section.blocks %}
        {% case block.type %}
        {% when 'faq' %}   
        <div class="col-xl-3 col-lg-3 col-md-6 col-12">
          <div class="item-inner">
            <div class="w-image-box banners">
              {% if block.settings.our_image_1 != blank %}
              <div class="item-image">
                <a title="Jennifer lawrence" href="{% if block.settings.link_member != blank %}{{ block.settings.link_member }}{% else %}#{% endif %}">
                  <img class="img-respon" alt="{{ block.settings.our_image_1.alt | default: shop.name }}" src="{{ block.settings.our_image_1 | img_url: 'master' }}" />
                </a>
              </div>
              {% else %}
              <img class="img-responsive" alt="{{ shop.name }}" src="//placehold.it/160x160" />
              {% endif %}
            </div>
            <div class="info-member">
              <div class="item-content">
              {% if block.settings.cl_name_1 != blank %}
              <h2 class="cl-name"><a title="{{ block.settings.cl_name_1 }}" href="{% if block.settings.link_member != blank %}{{ block.settings.link_member }}{% else %}#{% endif %}">{{ block.settings.cl_name_1 }}</a></h2>
              {% endif %}
              {% if block.settings.cl_job_1 != blank %}
              <p class="cl-job">{{ section.settings.cl_job_1 }}Tech Leader</p>
              {% endif %}
              </div>
             
            </div>
          </div>
        </div>
        {% endcase %}
        {% endfor %}        
      </div>
    </div>	
  </div>
</div>
{% endif %}

<div class="widget widget-testimonialCarousel">
 <div class="container">
   <div class="widget-content">  
<div class="swiper-container" data-items="1" data-margin="0" data-row="1" data-md="1" data-sm="1" data-xs="1">
  <div class="swiper-wrapper">  
	{% for block in section.blocks %}
  {% case block.type %}
  {% when 'testimonial_item' %}
  <div class="swiper-slide">   
    <div class="testimonial-content text-center" style="background-color:{{ block.settings.bg_color }};">
      {% if block.settings.brc_image != blank %}
      {{ block.settings.brc_image | img_url: '200x200' | img_tag: block.settings.brc_image.alt, 'banner5__image' }}
      {% else %}
      {{ 'image' | placeholder_svg_tag: 'placeholder-svg' }}
      {% endif %}
      {% if block.settings.des != blank %}
      <p class="dec">{{ block.settings.des }}</p>
      {% endif %}
      {% if block.settings.name != blank %}
      <h4>{{ block.settings.name }}</h4>
      {% endif %}
      {% if block.settings.name2 != blank %}
      <p class="job">{{ block.settings.name2 }}</p>
      {% endif %}
    </div>


  </div>
 
 {% endcase %}
  {% endfor %}
     </div>
</div>
   </div>
</div>
</div>
<style>
  .main-content{
  	padding-bottom: 0 !important; 
  }
</style> 
{% schema %}
{
  "name": "About Us Page",
  "settings": [
    {
      "type": "header",
      "content": "About Us Info"
    },
    {
      "type": "text",
      "id": "about_title",
      "label": "Title About",
      "default": "Welcome To Shop"
    },
    {
      "type": "image_picker",
      "id": "about_image",
      "label": "About Image"
    },
    {
      "type": "textarea",
      "id": "about_text_desc",
      "label": "About Text Description"
    },
{
          "type": "text",
          "id": "social_facebook_link",
          "label": "Facebook",
          "default": "#"
        },
        {
          "type": "text",
          "id": "social_twitter_link",
          "label": "twitter",
          "default": "#"
        },
        {
          "type": "text",
          "id": "social_google_link",
          "label": "google",
          "default": "#"
        },
        {
          "type": "text",
          "id": "social_dribbble_link",
          "label": "dribbble",
          "default": "#"
        },
        {
          "type": "text",
          "id": "social_linkedin_link",
          "label": "linkedIn",
          "default": "#"
        },
{
      "type": "header",
      "content": "About service"
    },
    {
      "type":"checkbox",
      "id":"show_service",
      "default":true,
      "label":"Show ?"

    },
    {
      "type": "image_picker",
      "id": "icon_img1",
      "label": "Icon 1"
    },
    {
      "type": "text",
      "id": "sv_title1",
      "label": "Title 1",
      "default": "Strategy & Marketing"
    },
    {
      "type": "text",
      "id": "des1",
      "label": "Description 1",
      "default": "Description 1"
    },
	 {
      "type": "image_picker",
      "id": "icon_img2",
      "label": "Icon 2"
    },
    {
      "type": "text",
      "id": "sv_title2",
      "label": "Title 2",
      "default": "interaction design "
    },
    {
      "type": "text",
      "id": "des2",
      "label": "Description 2",
      "default": "Description 2"
    },
	 {
      "type": "image_picker",
      "id": "icon_img3",
      "label": "Icon 3"
    },
    {
      "type": "text",
      "id": "sv_title3",
      "label": "Title 3",
      "default": "WEb Development"
    },
    {
      "type": "text",
      "id": "des3",
      "label": "Description 3",
      "default": "Description 3"
    },
	{
      "type": "header",
      "content": "Out Member"
    },
    {
      "type":"checkbox",
      "id":"show_team",
      "default":true,
      "label":"Show ?"

    },
    {
      "type": "text",
      "id": "member_title",
      "label": "Title Our Member",
      "default": "Our Member"
    },
    {
      "type": "textarea",
      "id": "our_text_desc",
      "label": "Our Text Description",
      "default":"Lorem Khaled Ipsum is a major key to success. Eliptical talk. The key to more success is to get a massage once a week"

    }

  ],
  "blocks": [
    {
      "type": "faq",
      "name": "Our Member",
      "settings": [

        {
          "type": "image_picker",
          "id": "our_image_1",
          "label": "Our Image 1"
        },
        {
          "type": "text",
          "id": "cl_name_1",
          "label": "CL Name",
          "default": "Jennifer lawrence"
        },
        {
          "type": "text",
          "id": "cl_job_1",
          "label": "CL Job",
          "default": "Tech Leader"
        },
        {
          "type": "text",
          "id": "cl_des_1",
          "label": "CL Description"
        },
        {
          "type": "url",
          "id": "link_member",
          "label": "Link Member"
        }
        
      ]
    },
	{
      "type": "testimonial_item",
      "name": "Testimonial item",
      "settings": [
		{
        "type": "color",
        "id": "bg_color",
        "label": "Background Color testimonial",
        "default": "#f7f7f7"
        },
        {
        "type": "image_picker",
        "id": "brc_image",
        "label": "Avatar testimonial"
        },
        {
        "type": "text",
        "id": "des",
        "label": "Description testimonial",
        "default": "Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's stan"
        },
        {
        "type": "text",
        "id": "name",
        "label": "Name testimonial",
        "default": "Meo Xinh"
        },
        {
        "type": "text",
        "id": "name2",
        "label": "Name testimonial 2",
        "default": "Web Design"
        }
      ]
    }
  ]
}
{% endschema %}